@import "tailwindcss";

/* :root {
  --primary-color: yellow;
  --secondary-color: blue;
  --text-color: gray;
  --container-space: 14rem;
  --background-color: black;
} */
@theme {
  --color-primary: #ffffff;
}

button {
  @apply p-2 px-4 rounded-md cursor-pointer;
}
input {
  @apply border-2 rounded-md p-2 w-full;
}

/* h1{
    @apply flex text-4xl font-bold
} */

/* h1 {
  background-color: var(--background-color);
  color: var(--text-color);
} */
